@model Travel_Application.ViewModels.EnrollHotels

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="city.Id" />
            <div class="form-group">
                <label asp-for="city.Name" class="control-label"></label>
                <input asp-for="city.Name" class="form-control" />
                <span asp-validation-for="city.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city.Country" class="control-label"></label>
                <input asp-for="city.Country" class="form-control" />
                <span asp-validation-for="city.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city.PopularLandMark" class="control-label"></label>
                <input asp-for="city.PopularLandMark" class="form-control" />
                <span asp-validation-for="city.PopularLandMark" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">Hotels</label>
                <select asp-for="selectedHotels" class="form-control js-example-basic-multiple" asp-items="Model.hotelsEnrolledList">
                    @*<option value="">Select</option>*@
                </select>
                <span asp-validation-for="selectedHotels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
